/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;700&display=swap'); */

* {
  box-sizing: border-box;
}
body {
  /* font-family: 'Roboto', sans-serif; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  justify-content: center;
  /* overflow: hidden; */
  margin: 0;
}

.background {
  width: 100vw;
  height: fit-content;
  background-image: url("javascript-line.svg");
  background-repeat: repeat;
  background-size: 20px;
  background-color: yellow;
}

.container {
  width: 100vw;
  background: transparent;
  display: flex;
  max-width: 2000px;
  flex-direction: column;

  & .navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    color: blue;
    align-items: center;
    padding: 1em;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 1;
    & span {
      margin-left: 0.5em;
    }
    & .help {
      margin-left: auto;
    }
  }
  & .navbar.hide {
    transform: translateY(-100%);
    opacity: 0;
  }
  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    /* overflow: scroll; */
    & h1 {
      margin-top: 300px;
    }
  }
}
